{% extends "web/base.twig" %}

{% block title %} VegaPo - {{ lang.PAGE_FULL_NAME }} {% endblock %}

{% block content %}

    <div id="main">
      <section class="flex-horizontal-center">
            <h1>{{ lang.PAGE_FULL_NAME }}</h1><br>
            <h5 class="wow fadeIn text-normal wow fadeIn">{{ lang.PAGE_BRIEF_DESCRIPTION }}</h5><br>
            <a href="/produkty" class="btn btn-outline-primary btn-lg page-scroll wow fadeInUp m-t-3">{{ lang.INDEX_ACTION_BUTTON }}</a>
        </section>

      
        <section class="flex-horizontal-center">
          <div class="container">
            <div class="text-center">
              <h2 class="pb-4">Povedali o nás</h2>
            </div>
            <div id="carouselTestimonials" class="carousel slide testimonials" data-ride="carousel">

              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="testimonial">
                    <blockquote class="blockquote">
                      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                      <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                      <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>
                    </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#carouselTestimonials" data-slide-to="0" class="active"></li>
                <li data-target="#carouselTestimonials" data-slide-to="1"></li>
                <li data-target="#carouselTestimonials" data-slide-to="2"></li>
              </ol>
            </div>

          </div>
        </section>



</div>



{% endblock %}

{% block scripts %}
<script>
  $('.carousel').carousel()
</script>
{% endblock %}