{% extends "public/base.twig" %}

{% block title %} VegaPo - {{ lang.PAGE_FULL_NAME }} {% endblock %}

{% block content %}

    <header id="first">
    <div class="header-content">
        <div class="inner">
            <h1>{{ lang.PAGE_FULL_NAME }}</h1><br>
            <h5 class="wow fadeIn text-normal wow fadeIn">{{ lang.PAGE_BRIEF_DESCRIPTION }}</h5><br>
            <a href="#one" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3">{{ lang.INDEX_ACTION_BUTTON }}</a>
        </div>
    </div>
</header>


{% endblock %}