html,
body {
  height: 100%; }

body {
  background-color: #f4f5f5 !important;
  display: flex;
  flex-direction: column;
  color: #242729;
  font-family: "Montserrat", "Roboto", Arial, sans-serif; }

a {
  color: #242729; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #5cb85c; }

.blockquote {
  border-color: #242729; }

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #5cb85c; }

::selection {
  text-shadow: none;
  color: #fff;
  background: #5cb85c; }

/* page content */
#main {
  flex: 1 0 auto;
  padding: 100px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  #main.index {
    min-height: 100%; }

.btn-primary {
  background-color: #5cb85c;
  border-color: #5cb85c; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: transparent;
    color: #5cb85c;
    border-color: #5cb85c; }

.btn-outline-primary {
  border-color: #5cb85c;
  color: #5cb85c; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #5cb85c;
    border-color: #5cb85c; }

/* helpers */
.flex-horizontal-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.black-and-white {
  filter: grayscale(65%); }

.icon-lg {
  font-size: 4rem;
  line-height: 1rem; }

/* b-lazy */
.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0; }

.b-loaded {
  opacity: 1; }

/* pagination */
.page-link {
  color: #5cb85c; }

.page-item.active .page-link {
  color: #fafafa;
  background-color: #5cb85c;
  border-color: #5cb85c; }

/* carousel */
.carousel {
  margin-bottom: 40px; }
  .carousel .carousel-indicators {
    bottom: -30px; }
    .carousel .carousel-indicators li {
      background-color: #242729; }
    .carousel .carousel-indicators li.active {
      background-color: #5cb85c; }

/* navbar */
.navbar {
  background-color: #242729;
  font-weight: 700;
  display: flex; }
  .navbar .navbar-toggler {
    color: #fafafa; }
  .navbar .navbar-brand {
    color: #5cb85c; }
  .navbar .navbar-nav {
    margin: auto 0; }
  .navbar .nav-item .nav-link {
    color: #fafafa;
    font-size: 14px; }
    .navbar .nav-item .nav-link:hover {
      color: #5cb85c; }
  .navbar .nav-item .dropdown-menu {
    background-color: #242729;
    border: 2px solid #5cb85c; }
    .navbar .nav-item .dropdown-menu .dropdown-item {
      color: #fafafa; }
      .navbar .nav-item .dropdown-menu .dropdown-item:hover, .navbar .nav-item .dropdown-menu .dropdown-item:focus, .navbar .nav-item .dropdown-menu .dropdown-item:active {
        color: #5cb85c;
        background-color: #242729; }
  .navbar .navbar-collapse {
    background-color: #242729;
    font-weight: 500; }

.nav-link {
  padding: 0 1em; }

#searchButton {
  border-color: transparent;
  transform: scale(0.9); }

/* footer */
footer#footer {
  background-color: #242729;
  color: #fafafa;
  padding: 45px; }
  footer#footer a {
    color: #5cb85c; }
    footer#footer a:hover, footer#footer a:active {
      color: #fafafa;
      text-decoration: none; }
  footer#footer .btn:hover {
    background-color: transparent;
    border-color: #5cb85c;
    cursor: pointer; }

@media (max-width: 992px) {
  .container {
    width: auto !important;
    max-width: 100%; }

  nav .container {
    margin: 0; }

  #searchForm input {
    position: fixed;
    z-index: 1;
    top: 60px;
    right: 10px; } }
@media (max-width: 768px) {
  .card {
    max-width: 450px; }

  nav .flag {
    padding-left: 0 !important; }

  #searchForm input {
    position: initial; } }
/* other */
.testimonial {
  margin: 0 auto; }

#heart.active {
  color: #5cb85c; }

.productFilterBox {
  padding: 20px 0;
  margin: 20px auto 30px auto; }
  .productFilterBox .card-body .row {
    justify-content: space-evenly;
    /* search box */ }
    .productFilterBox .card-body .row form input[name=hladat] {
      max-width: 150px; }

/*# sourceMappingURL=styles.css.map */
