{% extends "base.twig" %}

{% block title %}VegaPo - Inform치cie {% endblock %}

{% block header %} Inform치cie {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped sortable">
                    <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Str치nka</th>
                        <th>Akcia</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for index, page in pages %}
                    <tr>

                        <td>{{ index }}</td>
                        <td>{{ page }}</td>
                        <td><a href="/admin/info/edit/{{ page }}">Upravi콘</a></td>

                    </tr>
                    {% else %}
                        No Category Found
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}