{% extends "base.twig" %}

{% block title %} VegaPo - {{ lang.PAGE_FULL_NAME }} {% endblock %}

{% block content %}
<div id="main" class="index">
  <section class="flex-horizontal-center">
    <h1>404 Stránka sa nenašla.</h1><br>
    <h5 class="wow fadeIn text-normal wow fadeIn">
      Niekde nastala chyba. Ak si myslíte, že na našej strane, neváhajte nás kontaktovať.
    </h5>

    <br>
    <a href="/produkty" class="btn btn-outline-primary btn-lg page-scroll wow fadeInUp m-t-3">
     Zoznam produktov.
    </a>
  </section>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}